#filtro ion-buttons ion-button ion-icon {
  size: large;
}
ion-slides{
  height: 200px;
}
#filtro {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
#filtro img {
  padding: 0 15%;
}
.subdescripcion {
  font-size: x-small;
  margin-bottom: 0;
}
.descripcion {
  display: block;
  width: 80%;
  margin: 0 auto;
}
#estrellas {
  font-size: small;
}

ion-select{
  font-size: xx-small;

}
ion-button{
  width: 100%;
}
#botones-seguidos{
  display: flex;
  flex-direction: row;

}