<ion-header>
  <ion-toolbar>
    <div id="filtro">
      <ion-buttons
        ><ion-back-button defaultHref="/tabs/futbol"></ion-back-button
      ></ion-buttons>
      <img src="../../assets/img/vulcano-mini.png" />
      <ion-buttons slot="end"
        ><ion-button routerLink="/user" routerDirection="forward"
          ><ion-icon
            size="large"
            name="person-circle-outline"
          ></ion-icon></ion-button
      ></ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="contenedorImagen">
    <ion-slides pager="true">
      <ion-slide>
        <img src="../../assets/img/bota12.png" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/bota12b.png" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/bota12c.png" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/bota12d.png" alt="" />
      </ion-slide>
    </ion-slides>
    <div class=" descripcion ">
      <p>Nike Mercurial Superfly 8 Pro KM FG</p>
      <p class="subdescripcion">Botas de fútbol para terreno firme</p>
      <s class="subdescripcion">PVP 199,50€</s>
      <p><b>159,99€</b></p>
    </div>
  </div>
</ion-content>
