<ion-header>
  <ion-toolbar>
    <div id="filtro-padre">
      <div id="filtro">
        <ion-buttons><ion-back-button text="" icon="chevron-back" defaultHref="/tabs/tab1" ></ion-back-button></ion-buttons>
        <img src="../../assets/img/vulcano-mini.png" />
        <ion-buttons
          ><ion-button
            ><ion-icon size ="large"name="person-circle-outline"></ion-icon></ion-button
        ></ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
