#filtro ion-buttons ion-button ion-icon{
    size: large;
 }
 
 #filtro {
   margin: 0 auto;
   width: 70%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  
 }
 #filtro-padre {
   
  
    
  }