<ion-header> </ion-header>

<ion-content>
  <div id="caja-logo">
    <img src="./../../assets/img/vulcano.png" />
  </div>

  <form [formGroup]="usuario">
    <div id="formulario">
      <ion-card class="caja-input">
        <ion-item>
          <ion-input formControlName="email" placeholder=" email"
            ><ion-icon name="mail-outline"></ion-icon
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="caja-input">
        <ion-item class="separado">
          <ion-input
            formControlName="password"
            type="password"
            placeholder=" contraseña"
            ><ion-icon name="lock-closed-outline"></ion-icon
          ></ion-input>
        </ion-item>
      </ion-card>
      <a href="">He olvidado la contraseña</a>

      <ion-button id="inicio"
        [disabled]="!usuario.valid"
        (click)="login()"
        type="submit"
        
        expand="block"
        >Iniciar sesión</ion-button
      >
      <p>Aún no tengo cuenta:</p>
      <ion-button routerLink="/register" routerDirection="forward"  color="light"
        >Registrarse</ion-button
      >
    </div>
  </form>
</ion-content>
