<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/user" routerDirection="forward">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="caja-logo">
    <img src="../../assets/img/vulcano.png" alt="" />
  </div>
  <ion-card class="caja-input">
    <!-- <ion-item class="separado"> -->
      <ion-searchbar showCancelButton="focus"></ion-searchbar>
      <!-- <ion-input placeholder=" Buscar en la tienda"
        ><ion-icon name="search-outline"></ion-icon -->
      <!-- ></ion-input> -->
    <!-- </ion-item> -->
  </ion-card>
  <ion-item>
    <ion-label>Los más buscados</ion-label>
  </ion-item>
  <div id="busquedas">
    <a routerLink="/tabs/futbol"><p>Botas de fútbol</p></a>
    <p>Zapatillas running</p>
    <p>Zapatillas ciclismo</p>
    <p>Zapatillas de lifestyle</p>
    <p>Camisetas de fútbol</p>
  </div>
</ion-content>
