#caja-logo{
    width: 220px;
    margin:40px auto 0 auto;
    }

#busquedas{
    display: block;
    margin: 0 auto;
    width: 90%;
    font-family: 'FiraSans-SB';
}
a{
    color:var(--color);
    text-decoration: none;
}
ion-label{
    --font-family: 'FiraSans-SB';
}