<ion-header>
  <ion-toolbar>
    <div id="filtro-padre">
      <div id="filtro">
        <img src="../../assets/img/vulcano-mini2.jpg" />
        <ion-buttons
          ><ion-button routerLink="/tabs/user" routerDirection="forward"
            ><ion-icon
              size="large"
              name="person-circle-outline"
            ></ion-icon></ion-button
        ></ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides id="outlet" pager="true">
    <ion-slide id="hijo7">
      <img src="../../assets/img/outlet.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/bota12b.png" alt="" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/bota12c.png" alt="" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/bota12d.png" alt="" />
    </ion-slide>
  </ion-slides>
  <div id="container">
    <div class="hijos">
      <img src="../../assets/img/running.jpg" alt="running" />
    </div>
    <div class="hijos">
      <img src="../../assets/img/ciclismo.jpg" alt="ciclismo" />
    </div>
    <div class="hijos">
      <img src="../../assets/img/outdoor2.jpg" alt="outdoor" />
    </div>

    <div class="hijos">
      <a routerLink="/tabs/futbol"
        ><img src="../../assets/img/futbol.jpg" alt="futbol"
      /></a>
    </div>

    <div class="hijos"><img src="../../assets/img/natacion.jpg" alt="" /></div>
    <div class="hijos">
      <img src="../../assets/img/lifestyle2.jpg" alt="Lifestyle" />
    </div>
  </div>
</ion-content>
