<ion-header>
  <ion-toolbar>
    <div id="filtro-padre">
      <div id="filtro">
        <ion-buttons
          ><ion-back-button defaultHref="/tabs/tab1"></ion-back-button
        ></ion-buttons>
        <img src="../../assets/img/vulcano-mini.png" />
        <ion-buttons
          ><ion-button routerLink="/tabs/user" routerDirection="forward"
            ><ion-icon
              size="large"
              name="person-circle-outline"
            ></ion-icon></ion-button
        ></ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="top">
<h2>Favoritos</h2>
</div>
<div id="elemento">
  <img src="../../assets/img/air.png" alt="nike air force 1">
  <div id="elemento-texto">
  <p>Nike air force 1 '07</p>
  <p>109,99</p>
</div>
<div id="basura">
  <ion-icon name ="trash-outline"></ion-icon>
</div>
</div>
<div>
  <input id="cmn-toggle-7" class="hidden" type="checkbox" >
  <label for="cmn-toggle-7" class="clicker" tabindex="1">Click me</label>
  <div class="hiddendiv"></div>
</div>
</ion-content>
