<ion-header>
  <ion-toolbar>
    <div id="filtro-padre">
      <div id="filtro">
        <ion-buttons><ion-back-button defaultHref="/tabs/tab1"></ion-back-button></ion-buttons>
        <img src="../../assets/img/vulcano-mini2.jpg" />
        <ion-buttons><ion-button routerLink="/tabs/user" routerDirection="forward"><ion-icon
              size="large"
              name="person-circle-outline"></ion-icon></ion-button></ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="top">
    <h2 class="ion-text-center">Favoritos</h2>
  </div>
  <div class="tarjetas">
    <div id="basura">
      <ion-icon name="trash-outline"></ion-icon>
    </div>
  <ion-card>
    <img src="../../assets/img/air.png" />
    <ion-card-content>
      <b class="ion-text-center">Nike Air force 1 '07</b>
      <p>109,90€</p>
    </ion-card-content>
  </ion-card>
</div>
  <div class="tarjetas">
    <div id="basura">
      <ion-icon name="trash-outline"></ion-icon>
    </div>
  <ion-card>
    <img src="../../assets/img/adidasR.png" />
    <ion-card-content>
      <b>Adidas Nova Flow mujer</b>
      <p>44,00€</p>
      
    </ion-card-content>
  </ion-card>
</div>
<div class="tarjetas">
  <div id="basura">
    <ion-icon name="trash-outline"></ion-icon>
  </div>
<ion-card>
  <img src="../../assets/img/maillot.png" />
  <ion-card-content>
    <b>Maillot Ciclismo personalizado gama pro</b>
    <p>49,90€</p>
  </ion-card-content>
</ion-card>
</div>
</ion-content>
