<ion-header>
  <ion-toolbar>
    <ion-title>Gracias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="imagen">
    <h1 class="ion-text-center">Tu pago ha sido confirmado</h1>

    <img src="../../assets/img/confi.png" />
    <div id="botones">
  <ion-button color="warning"><ion-icon name="clipboard-outline"></ion-icon>Ver mis pedidos</ion-button>
  <ion-button  routerDirection="back"routerLink ="/tabs/futbol"color="success">
    <ion-icon name="bag-outline"></ion-icon>Seguir comprando</ion-button>
  </div>
</div>
</ion-content>
