#filtro ion-buttons ion-button ion-icon {
  size: large;
}

#filtro {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
#filtro img {
  padding: 0 15%;
}
#naranja b,
p {
  font-size: 11px;
  margin: 0;
}

#container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 200px);
  height: 1250px;
}

ion-card img {
  height: 110px;
}
ion-chip {
  --background: #c3cfd969;
}
#chips {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  top: 92%;
}

ion-chip:hover {
  font-size: x-large;
  --background: #f3c19d;
}
ion-chip ion-label {
  text-overflow: unset;
  white-space: nowrap;
  font-size: small;
  align-items: center;
}
ion-chip ion-icon {
  font-size: small;
}
ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin:12px 5px;
}
ion-card-content p + b {
  font-size: medium;
  padding: 0;
}
ion-card img {
  padding: 5px;
}
.card-content-ios,
.card-content-md {
  padding: 5%;
}
ion-card:hover{
  --background:#f3c19dab;
}
ion-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#naranja{
 color: var(--ion-color-primary);
 font-weight: bold;
}
.precio-corazon img{
  height:15px;
  width: 25px;
  padding:0;
}
.puma img{
  width: 20px;
 height: 15px;
}
.precio-corazon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.precio-corazon ion-icon:hover{
color: red;
}
