<ion-header>
  <ion-toolbar>
    <div id="filtro">
      <ion-buttons
        ><ion-back-button defaultHref="/tabs/tab1"></ion-back-button
      ></ion-buttons>
      <img src="../../assets/img/vulcano-mini.png" />
      <ion-buttons slot="end"
        ><ion-button routerLink="/tabs/user" routerDirection="forward"
          ><ion-icon
            size="large"
            name="person-circle-outline"
          ></ion-icon></ion-button
      ></ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <a routerLink="/tabs/tabde" routerDirection="forward"
        ><img src="../../assets/img/bota12bb.png"
      /></a>
      <ion-card-content>
        <p class="ion-text-center">Nike Mercurial Superfly 8 Pro KM FG</p>
        <b>121,50€</b>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../../assets/img/bota2.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Tiempo 7 FG/AG Blanco/ Azul</p>
        <b>79,50€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota3.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Mercurial 8 SG Naranja/Negro</p>
        <b>114,90€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota4.png" />
      <ion-card-content>
        <p class="ion-text-center">Puma King Top FG/AG Negro/Blanco</p>
        <b>117,50€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota5.png" />
      <ion-card-content>
        <p class="ion-text-center">Adidas Copa Mundial SG Negro/Naranja</p>
        <b>99,50€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota6.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Mercurial 8 FG/AG Blanco/Azul</p>
        <b>191,50€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota7.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Mecurial 6 FG/AG Azul/Amaillo</p>
      <b>89,50€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota8.png" />
      <ion-card-content>
        <p class="ion-text-center">Adidas X 16.4 FXG FG/AG Naranja/Gris</p>
        <b>50€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota9.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Hypervenom 3 AGPRO Rojo/Negro</p>
        <b>110,50€</b>
      </ion-card-content>
    </ion-card>
   
    <ion-card>
      <img src="../../assets/img/bota10b.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Mercurial Superfly 8 Elite FG</p>
        <b>238,50€</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota11.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Tiempo 7 FG/AG Negro/Naranja</p>
        <b>121,50€</b>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../../assets/img/bota1.png" />
      <ion-card-content>
        <p class="ion-text-center">Nike Tiempo 7 FG/AG Negro/Naranja</p>
        <b>121,50€</b>
      </ion-card-content>
    </ion-card>
 
  </div>
  <div id="chips">
    <ion-chip>
      <ion-icon name="funnel"></ion-icon
      ><ion-label class="ion-text-center">Filtros</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>Ordenar</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>Categorias</ion-label>
    </ion-chip>
  </div>
</ion-content>
<!-- ion segment group
  ion-modal
  ion range
ion-toast -->
