#filtro ion-buttons ion-button ion-icon {
  size: large;
}

#filtro {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
#filtro img {
  padding: 0 15%;
}

b,
p {
  font-size: 11px;
  margin: 0;
}

#container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 150px);
  height: 950px;
}
.hijos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hijos img {
  height: 110px;
}
#chips {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  top: 92%;
}
ion-chip {
  --background: #c3cfd969;
}
ion-chip:hover {
  --background: #f3c19d;
}
ion-chip ion-label {
  text-overflow: unset;
  white-space: nowrap;
  font-size: small;
  align-items: center;
}
ion-chip ion-icon {
  font-size: small;
}
