<ion-header>
  <ion-toolbar>
    <div id="filtro">
      <ion-buttons
        ><ion-back-button defaultHref="/tabs/tab1"></ion-back-button
      ></ion-buttons>
      <img src="../../assets/img/vulcano-mini.png" />
      <ion-buttons slot="end"
        ><ion-button routerLink="/tabs/user" routerDirection="forward"
          ><ion-icon
            size="large"
            name="person-circle-outline"
          ></ion-icon></ion-button
      ></ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <a routerLink="/tabs/tabde" routerDirection="forward"
        ><img src="../../assets/img/bota12bb.png"
      /></a>
      <ion-card-content>
        <p class="ion-text-center">
          <span id="naranja">Nike</span> Mercurial Superfly 8 Pro KM FG
        </p>

        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>121,50€</b>
          <img src="../../assets/img/nikelogo3.png" />        
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../../assets/img/bota2.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Tiempo 7 FG/AG Blanco/ Azul</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>79,50€</b>
          <img src="../../assets/img/nikelogo3.png" />        
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota3.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Mercurial 8 SG Naranja/Negro</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>114,90€</b>
          <img src="../../assets/img/nikelogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota4.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Puma</span> King Top FG/AG Negro/Blanco</p>
        <div class="precio-corazon puma ">
          <ion-icon name="heart"></ion-icon>
          <b>117,50€</b>
          <img src="../../assets/img/pumalogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota5.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Adidas</span> Copa Mundial SG Negro/Naranja</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>99,50€</b>
          <img src="../../assets/img/adidaslogo2.png" />
          </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota6.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Mercurial 8 FG/AG Blanco/Azul</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>191,50€</b>
          <img src="../../assets/img/nikelogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota7.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Mecurial 6 FG/AG Azul/Amaillo</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>89,50€</b>
          <img src="../../assets/img/nikelogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota8.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Adidas</span> X 16.4 FXG FG/AG Naranja/Gris</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>50€</b>
          <img src="../../assets/img/adidaslogo2.png" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota9.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Hypervenom 3 AGPRO Rojo/Negro</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>110,50€</b>
          <img src="../../assets/img/nikelogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../../assets/img/bota10b.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Mercurial Superfly 8 Elite FG</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>238,50€</b>
          <img src="../../assets/img/nikelogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/bota11.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Mercurial Vapor Elite FG Desert</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>161,95€</b>
          <img src="../../assets/img/nikelogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../../assets/img/bota1.png" />
      <ion-card-content>
        <p class="ion-text-center"><span id="naranja">Nike</span> Tiempo 7 FG/AG Negro/Naranja</p>
        <div class="precio-corazon">
          <ion-icon name="heart"></ion-icon>
          <b>121,50€</b>
          <img src="../../assets/img/nikelogo3.png" />
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div id="chips">
    <ion-chip>
      <ion-icon name="funnel"></ion-icon
      ><ion-label class="ion-text-center">Filtros</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>Ordenar</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>Categorias</ion-label>
    </ion-chip>
  </div>
</ion-content>
