<ion-header></ion-header>

<ion-content>
  <div id="caja-logo">
    <img src="./../../assets/img/vulcano.png" />
  </div>
  <form [formGroup]="usuario">
    <div id="formulario">
      <ion-card class="caja-input">
        <ion-item class="separado">
          <ion-input formControlName="email" placeholder=" email">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="caja-input">
        <ion-item class="separado">
          <ion-input
            formControlName="password"
            type="password"
            placeholder=" contraseña"
            ><ion-icon name="lock-closed-outline"></ion-icon
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="caja-input">
        <ion-item class="separado">
          <ion-input placeholder=" repetir contraseña"
            ><ion-icon name="lock-closed-outline"></ion-icon
          ></ion-input>
        </ion-item>
      </ion-card>
    </div>
    <ion-item class="color-politica">
      <ion-label
        ><p>Acepto la <a>política de privacidad</a></p></ion-label
      >
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <div id="boton-register">
      <ion-button
        [disabled]="!usuario.valid"
        (click)="signin()"
        type="submit"
        expand="block"
        color="tertiary"
        >Registrarse</ion-button>
    </div>
  </form>
  <div class="texto">
    <p>Registrarse con:</p>
  </div>
  <div id="register-buttons">
    <ion-button color="danger"><ion-icon name="logo-google"></ion-icon> Google</ion-button>
    <ion-button color="primary"><ion-icon name="logo-facebook"></ion-icon> Facebook</ion-button>
  </div>
  <div class="texto">
    <p>Ya tengo cuenta</p>
  </div>
  <div id="boton-register">
    <ion-button routerLink="/login" routerDirection="back" color="light">Iniciar sesión</ion-button>
  </div>
</ion-content>
