#caja-logo {
  width: 220px;
  margin: 40px auto 0 auto;
}
.caja-input {
  height: 30px;
  width: 62%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}
ion-item ion-checkbox {
  --size: 20px;
}
#boton-register {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.texto {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
#register-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}
ion-content,
ion-header,
ion-toolbar {
  --background: #f3c19d !important;
}
.color-politica {
  --background: #f3c19d !important;
}
.color-politica p,
.texto p,
ion-input {
  font-size: small;
}
